# Project dependencies
.cache
node_modules
yarn-error.log

# Build directory + Folders
/public
.DS_Store
/src/functions/node_modules


# Other
/.history
/.vscode
*.env
src/functions/secrets.js
lambda/secrets.js
secrets.js

