@import '~bootstrap/scss/bootstrap';

body {
  background: #eee;
}

.chart {
  border: 1px solid #ccc;
}

.header {
  background-color: khaki;
  width: 100vw;
  margin-bottom: 0.5rem;
  padding-bottom: 1rem;

  h1 {
    text-align: center;
    margin: 0 0 1rem;
    font-size: 5rem;
  }
}

.paragraph-container {
  max-width: 500px;
  text-align: center;
  font-size: 1.2rem;
}

.card {
  margin: 10px 0;
}

.loader {
  margin-left: 40%;
}
