@import '~bootstrap/scss/bootstrap';

body {
  background: #eee;
}

.chart {
  border: 1px solid #ccc;
}

.header {
  padding:1rem;
  background-color: khaki;
  width: 100vw;
  margin-bottom: 0.5rem;

  h1 {
    text-align: center;
    margin: 0 0 1rem;
    font-size: 5rem;
  }
}

.paragraph-container {
  max-width: 500px;
  text-align: center;
  font-size: 1.2rem;
}

.card {
  margin: 10px 0;
}

.email{
padding:1rem;
}

.footer{
  background-color: #F3F3F3;
  width:100%;
}

.button-wrapper{
  margin:1.5rem;
}

.footer-text{
  margin-top:1rem;
  margin-bottom:1em;
}
