@import '~bootstrap/scss/bootstrap';

body {
  background: #eee;
}

.chart {
  border: 1px solid #ccc;
}

.header{
  background-color: khaki;
  width: 100%;
  margin-bottom: 0.5rem;
  padding-bottom: 1rem;
}

.card {
  margin: 10px 0;
}
